
/***** Generell CSS/style *****/

/*Centrerar all text i applikationen*/
.App {
  text-align: center;
}

/*Generell style på applikationen*/
.App-header {
  background-color: #e1e6dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

/*Sätter font-family på rubriker*/
h1{
  font-family: 'ABeeZee', sans-serif;
}
h2{
  font-family: 'ABeeZee', sans-serif;
}

/*Style på p-element*/
p{
  font-size: 14px;
  color: black;
  text-align: left !important;
  font-family: 'ABeeZee', sans-serif;
}

/* En lila ram på några olika views */
.borderPruple{ 
  border: 2px solid #716595 !important;
  border-radius: 5px !important;
}

.quizFix{
  margin-top: 5em;
  margin-bottom: 5em;
}

/*Extra spacing mellan content, global header och bottom meny*/
.extraSpacing{
  margin-top: 5em;
  margin-bottom: 6em;
}





/***** Global header komponent *****/

/*Style på globala header på alla views*/
.GlobalHeader{
  background-color: #184e77;
  padding: 0px 10px 0px 10px;
  height: 70px;
}

/*Style på globala headers text på alla views*/
.GlobalHeaderText{
  font-size: 20px;
  font-family: 'ABeeZee', sans-serif;
}

/*Ikonerna i global header*/
.TopNavItem {
  color: #ffffff;
}

.TopNavItem:hover {
  color: #e1e6dd;
}





/***** Bottom meny komponent *****/

/*Style på bottenmenyn på alla views*/
.BottomMenu {
  background-color: #184e77;
  padding: 0px 10px 0px 10px;
  height: 70px;
}

/*Gör bottenmenyn responsiv*/
@media (min-height: 1024px){
  .BottomMenu {
    height: 90px !important;
  }
}

/* Sätt till samma höjd som bottenmenyn i de andra Vy's */
.FutureBottom {
  height: 72px;
}

/*Ikonerna i bottenmenyn*/
.BottomNavItem {
  color: #ffffff;
}

/*Style på quiz-ikon*/
.bottom-dice {
  font-size: 1.5em;
  border-radius: 5px;
  border: 1.5px solid #c8c8c8;
  padding-left: 5px !important ;
  padding-right: 5px !important ;
}

/*Storlek på hem-ikonen*/
.bottommenu-house {
  font-size: 1.3em;
}

/*Hover i responsivt läge*/
.BottomNavItem:hover {
  color: #e1e6dd;
}

/*Style på aktiva länkar*/
.active {
  border-bottom: 3px solid white;
}

.active-dice {
  border: 1.5px solid #e1e6dd;
  color: #e1e6dd;
}





/***** Start komponent *****/

/*Style på start*/
.startHeader {
  color: #716595;
  font-weight: bold;
  font-size: 2em;
}

.startLogga {
  color: #184e77;
  font-size: 7em;
  margin: 15px;
}

/*Style på logga in-fält*/
.loginForm {
  color: #707070;
  text-align: left;
  font-size: 14px;
}

/*Style på felmeddelande*/
.errorMassage{
  color: black;
}

/*Style på start-knapp*/
.startButton {
  background-color: #716595 !important;
  font-weight: bold !important;
  padding-top: 10em;
  border: #5a5077 !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

/*Centrerar knapp*/
.centerButton{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/*Style på rubriker och p på start-view*/
.h2Start{
  color: #707070 !important;
  font-size: 20px !important;
}

/*Style på grupp presentation*/
.group3 p {
  color: #707070 !important;
  text-align: center !important;

}

.groupNames3 {
  font-size: 14px;
}





/***** Info view *****/

.infoText{
  color: black;
  text-align: left;
}

.infoContact{
  border: 2px solid #716595;
  border-radius: 5px;
  text-align: center;
  padding: 1em;
  margin-top: 3em;
}