.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 70px 0px;
  background-color: #e1e6dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.BottomMenu {
  background-color: #184e77;
}

.BottomNavItem {
  color: #ffffff;
}

.BottomNavItem:hover {
  color: #e1e6dd;
}
