h1{
  color:black;
  padding-bottom: 1em;
  text-align: center !important;
}

.information{
color: black !important;
padding-left: 3em !important;
padding-right: 3em !important;
padding-top: 2em;
padding-bottom: 0.5em;
text-align: initial !important;
}

.knapp{
  color: #fff !important;
  background-color: #716595 !important;
  border: #5a5077 !important;
  padding: 0.5em 2em !important;
  hoover: pointer;
}

.contact{
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black !important;
}

.info-head{
  
    min-height: 5vh;
}
